
## <summary>policy for dinartether</summary>


########################################
## <summary>
##	Transition to dinartether.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`dinartether_domtrans',`
	gen_require(`
		type dinartether_t, dinartether_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, dinartether_exec_t, dinartether_t)
')


########################################
## <summary>
##	Execute dinartether server in the dinartether domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dinartether_initrc_domtrans',`
	gen_require(`
		type dinartether_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, dinartether_initrc_exec_t)
')


########################################
## <summary>
##	Search dinartether lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dinartether_search_lib',`
	gen_require(`
		type dinartether_var_lib_t;
	')

	allow $1 dinartether_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read dinartether lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dinartether_read_lib_files',`
	gen_require(`
		type dinartether_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, dinartether_var_lib_t, dinartether_var_lib_t)
')

########################################
## <summary>
##	Manage dinartether lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dinartether_manage_lib_files',`
	gen_require(`
		type dinartether_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, dinartether_var_lib_t, dinartether_var_lib_t)
')

########################################
## <summary>
##	Manage dinartether lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dinartether_manage_lib_dirs',`
	gen_require(`
		type dinartether_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, dinartether_var_lib_t, dinartether_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a dinartether environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`dinartether_admin',`
	gen_require(`
		type dinartether_t;
		type dinartether_initrc_exec_t;
		type dinartether_var_lib_t;
	')

	allow $1 dinartether_t:process { ptrace signal_perms };
	ps_process_pattern($1, dinartether_t)

	dinartether_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 dinartether_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, dinartether_var_lib_t)

')

