policy_module(dinartether, 1.100.1)

########################################
#
# Declarations
#

type dinartether_t;
type dinartether_exec_t;
init_daemon_domain(dinartether_t, dinartether_exec_t)

permissive dinartether_t;

type dinartether_initrc_exec_t;
init_script_file(dinartether_initrc_exec_t)

type dinartether_conf_t;
files_type(dinartether_conf_t)

type dinartether_var_lib_t;
files_type(dinartether_var_lib_t)

type dinartether_var_run_t;
files_type(dinartether_var_run_t)

type dinartether_port_t;
corenet_port(dinartether_port_t)

########################################
#
# dinartether local policy
#
allow dinartether_t self:process { fork };

allow dinartether_t self:fifo_file rw_fifo_file_perms;
allow dinartether_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(dinartether_t, dinartether_conf_t, dinartether_conf_t)
manage_files_pattern(dinartether_t, dinartether_conf_t, dinartether_conf_t)

manage_dirs_pattern(dinartether_t, dinartether_var_lib_t, dinartether_var_lib_t)
manage_files_pattern(dinartether_t, dinartether_var_lib_t, dinartether_var_lib_t)
files_var_lib_filetrans(dinartether_t, dinartether_var_lib_t, { dir file })

manage_dirs_pattern(dinartether_t, dinartether_var_run_t, dinartether_var_run_t)
manage_files_pattern(dinartether_t, dinartether_var_run_t, dinartether_var_run_t)

sysnet_dns_name_resolve(dinartether_t)
corenet_all_recvfrom_unlabeled(dinartether_t)

allow dinartether_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(dinartether_t)
corenet_tcp_sendrecv_generic_node(dinartether_t)
corenet_tcp_sendrecv_all_ports(dinartether_t)
corenet_tcp_bind_generic_node(dinartether_t)

gen_require(`
    type dinartether_port_t;
')
allow dinartether_t dinartether_port_t:tcp_socket name_bind;

gen_require(`
    type dinartether_port_t;
')
allow dinartether_t dinartether_port_t:tcp_socket name_connect;

domain_use_interactive_fds(dinartether_t)

files_read_etc_files(dinartether_t)

miscfiles_read_localization(dinartether_t)

sysnet_dns_name_resolve(dinartether_t)

allow dinartether_t dinartether_exec_t:file execute_no_trans;
allow dinartether_t self:process setsched;
corecmd_exec_ls(dinartether_t)
corenet_tcp_connect_http_port(dinartether_t)
dev_read_urand(dinartether_t)
fs_getattr_xattr_fs(dinartether_t)
kernel_read_system_state(dinartether_t)
